// Global variables
// Color

// Header
$headerPrimaryBackgroundColor: #F2C400
$headerPrimaryColor: white

// About
$aboutPrimaryBackgroundColor: white
$aboutPrimaryColor: #009975

// Projects
$projectsPrimaryBackgroundColor: #AFD7B6
$projectsPrimaryColor: white

// Contact
$contactPrimaryBackgroundColor: white
$contactPrimaryColor: #009975
$contactSecondaryColor: #AFD7B6