<project>

<img class="project-image" src="/assets/img/projects/dgscorecard/project-image.svg"></img>
<div class="project-description">
	<strong>Bacon ipsum</strong> dolor sit amet t-bone pork loin tongue fatback cow ham hock short loin chuck brisket swine drumstick leberkas. <br><br>

	Landjaeger prosciutto t-bone pancetta, tri-tip porchetta bresaola beef ribs turkey. Shankle prosciutto strip steak meatball jerky. Fatback rump t-bone kielbasa shank. <br><br>

	Tail capicola kielbasa, chuck shank boudin chicken ball tip shoulder hamburger cow ribeye ham hock. 
</div>

</project>