---
---

<!DOCTYPE html>
<html class="">
<head>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Personal website and portfolio of Karl Persson: Programmer and Geek">

  <title>{{ site.data.properties.title }}</title>

  <link rel="icon" type="ico" href="/assets/img/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/assets/css/all.css">

  <script type="text/javascript" src="/assets/js/analytics.js"></script>
</head>

<body>

{% include header.html %}

{% include about.html %}

{% include projects.html %}

{% include contact.html %}

{% include footer.html %}

</body>
</html>
