<section>

<h3>— Contact —</h3>

<div class="icons">
	<div class="social-facebook">{% include icons/social_facebook.html %}</div>
	<div class="social-twitter">{% include icons/social_twitter.html %}</div>
	<div class="social-googleplus">{% include icons/social_googleplus.html %}</div>
	<div class="social-linkedin">{% include icons/social_linkedin.html %}</div>
	<div class="social-lastfm">{% include icons/social_lastfm.html %}</div>
	<div class="social-github">{% include icons/social_github.html %}</div>
</div>

</section>