<section class="section-contact">

	<h2>— Contact —</h2>

	<div class='icons'>
		<div onclick='window.open("{{ site.data.properties.facebook }}");' class='social'>{% include icons/social_facebook.html %}</div>
		<div onclick='window.open("{{ site.data.properties.twitter }}");' class='social'>{% include icons/social_twitter.html %}</div>
		<div onclick='window.open("{{ site.data.properties.instagram }}");' class='social'>{% include icons/social_instagram.html %}</div>
		<div onclick='window.open("{{ site.data.properties.googleplus }}");' class='social'>{% include icons/social_googleplus.html %}</div>
		<div onclick='window.open("{{ site.data.properties.linkedin }}");' class='social'>{% include icons/social_linkedin.html %}</div>
		<div onclick='window.open("{{ site.data.properties.lastfm }}");' class='social'>{% include icons/social_lastfm.html %}</div>
		<div onclick='window.open("{{ site.data.properties.github }}");' class='social'>{% include icons/social_github.html %}</div>
	</div>

	<div class="internet-letter">{{ site.data.properties.email }}</div>

</section>