<section class="section-contact">

	<h3>— Contact —</h3>

	<div class='icons'>
		<div onclick='window.open("{{ site.facebook }}");' class='social'>{% include icons/social_facebook.html %}</div>
		<div onclick='window.open("{{ site.twitter }}");' class='social'>{% include icons/social_twitter.html %}</div>
		<div onclick='window.open("{{ site.googleplus }}");' class='social'>{% include icons/social_googleplus.html %}</div>
		<div onclick='window.open("{{ site.linkedin }}");' class='social'>{% include icons/social_linkedin.html %}</div>
		<div onclick='window.open("{{ site.lastfm }}");' class='social'>{% include icons/social_lastfm.html %}</div>
		<div onclick='window.open("{{ site.github }}");' class='social'>{% include icons/social_github.html %}</div>
	</div>

</section>