<section class="section-projects">
	<h2>— Projects —</h2>

	<div class="divfader">
		<div class="divfader-content">
			<div> {% include projects/dgscorecard/project.html %} </div>
			<div> {% include projects/ongithub/project.html %} </div>
		</div>
		<div class="divfader-controller"></div>
	</div>


	<script type="text/javascript" src="/assets/js/divfader.js"></script>
	<script type="text/javascript">
		var divfader = new divfader('.divfader');
		autoplay = true;
		showControls = true;
		fadeTimer = 400;
		delay = 20000;
	</script>
</section>