<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="250px" height="250px" viewBox="0 0 250 250" enable-background="new 0 0 250 250" xml:space="preserve">
<circle fill="#009975" cx="124.833" cy="124.833" r="124.833"/>
<g>
	<circle fill="#FFFFFF" cx="72.553" cy="67.738" r="15.835"/>
	<rect x="55" y="96" fill="#FFFFFF" width="34" height="86"/>
	<path fill="#FFFFFF" d="M194,126.446V182h-34v-55.554c0-9.023-15-17.86-26-2.318V182h-31V96h31v7.365
		C149,83.574,194,92.418,194,126.446z"/>
</g>
</svg>
