section

	h3
		color: $contactPrimaryColor

	.icons
		margin: auto auto
		max-width: 600px
		+display(flex)
		+align-items(center)
		+justify-content(space-around)

		.social
			+size(58px)
			margin-left: 5px
			margin-right: 5px

			// SVG-properties
			// Set color for all kind of shapes
			circle
				fill: $contactPrimaryColor
				+transition(fill 0.5s ease)
			g
				*
					fill: $contactPrimaryBackgroundColor

		.social:hover
			cursor: pointer
			circle
				fill: $contactSecondaryColor
			g
				*
					fill: $contactPrimaryBackgroundColor