header
	height: 200px
	background: $headerPrimaryBackgroundColor
	overflow: auto

	.logo
		+size(58px)
		margin-left: auto
		margin-right: auto
		margin-top: 15px
		margin-bottom: 15px

		// SVG-properties
		// Set color for all kind of shapes
		circle
			fill: $headerPrimaryColor
		g 
			*
				fill: $headerPrimaryBackgroundColor

	h1
		font:
			size: 44px
			weight: 700
		color: $headerPrimaryColor
		text-align: center
		text-transform: uppercase
		letter-spacing: 0.05em
		margin: 10px
		margin-left: 0px
		margin-right: 0px
		margin-top: -10px
		line-height: 1
		white-space: nowrap

		bracket
			font: 
				size: 64px

		min-size: 50%

	.kicker
		font:
			size: 18px
			weight: 700
		color: $headerPrimaryColor
		text-align: center
		text-transform: uppercase
		letter-spacing: 0.05em
		line-height: 1
		margin-top: 0px

	// Mobile optimizations
	@media screen and (max-width: 445px)
		height: 180px

		h1
			font:
				size: 30px

			bracket
				font: 
					size: 44px

		.kicker
			font:
				size: 10
