.section-projects
	height: 400px
	background-color: $projectsPrimaryBackgroundColor

	h3
		color: $projectsPrimaryColor

	.soon
		height: 50px
		margin: auto auto
		margin-top: 120px
		color: $projectsPrimaryColor
		font-weight: 700
		font-size: 30px
		text-align: center
		font-style: italic
		text-transform: uppercase